<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
	<title>Spring Security Example </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css"
		href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" 
		href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/js/ui.dropdownchecklist-1.5-min.js"></script>
	<style>
	th, td {
		padding: 5px;
	}
	</style>

<!-- Add code nay vao trong script -->
<script type="text/javascript">//<![CDATA[
	
	// Ham init, chuan bi confirm dialog va cac dropdown list
	$(document).ready(function(){
	    $('#confirmDelDialog').modal('show');
	    
	    $("#dcl").dropdownchecklist({firstItemChecksAll: true, maxDropHeight: 100,
	    	width:150});
	    $("#dcl2").dropdownchecklist({firstItemChecksAll: true, maxDropHeight: 100,
	    	width:150});
	    $("#dcl3").dropdownchecklist({firstItemChecksAll: true, maxDropHeight: 100,
	    	width:150});
	});

   function popup(url, w, h) {
      // open your window here
      //window.open("/categorylist/create", 'height=200,width=150');
      newwindow=window.open(url,'name','height=250,width=500');
      if (window.focus) {
   	  newwindow.focus()
       }
      return false;
   }

   // Ham de check all checkbox
   function allChecked(frm) {
	   for (var i = 0; i < frm.deleteList.length; i++) {
		   frm.deleteList[i].checked = frm.allcheck.checked;
	   }
   }
   
   // Ham dung de khi 1 children check box check, thay doi check-all
   function DisChecked(frm) {
	   for (var i = 0; i < frm.deleteList.length; i++) {
		   if (frm.deleteList[i].checked == false) {
			   frm.allcheck.checked = false;
			   return;
		   }
	   }
	   frm.allcheck.checked = true;
   }
   
   // Ham nay khi user click nut Delete
   function submitDel()
   {
	   // Add them 1 parameter btnDelete de ben trong file controller,
	   //  @PostMapping(value="/goodslist", params="btnDelete") is valid
	   $("<input/>").attr("name", "btnDelete").
		 	val("").
		 	appendTo("#frmGoods");
	   // Add bien force lan dau tien la no de co the hien thi confirmation delete message
	   $("#force").val("no");
	   $("#frmGoods").submit();
   }
   function submitDelContinue()
   {
	   $("<input/>").attr("name", "btnDelete").
	   		val("").
		 	appendTo("#frmGoods");
		// Day la user da confirm delete OK, do do add force to yes
	   $("#force").val("yes");
	   $("#frmGoods").submit();
   }
 //]]>
</script>
</head>
<body>

<div class="container">

<!-- Form Search -->
<form th:action="@{/goodslist}" th:object="${goodsform}" method="post" id="frmGoods">
	<input type="hidden" value="no" id="force" name="force"/>
	<input type="hidden" value="no" id="continue" name="continue"/>
	
	<div class="panel panel-default grid">
		<div class="row panel-body">
			<div class="col-sm-4">
			
			<!-- >>>>>> Copy doan code nay cho tuong ung nhu html -->
			<label>Floor Name:</label>
			<select class="form-control" th:field="*{floorId}" multiple="multiple" 
				id="dcl" name="dclSearchFloor">
			  	<option th:each="floor : ${dropFloor}" 
			          th:value="${floor.id}" 
			          th:text="${floor.name}">Floor
			    </option>
			</select>
			<!-- <<<<< Copy doan code nay cho tuong ung nhu html -->
			
			</div>
		</div>
		
		<div class="row panel-body">
			<div class=" col-sm-4">
			
			<!-- >>>>>> Copy doan code nay cho tuong ung nhu html -->
			<label>Goods ID:</label>
		    <input type="text" th:field="*{id}" 
		        class="form-control"/>
  			<!-- <<<<< Copy doan code nay cho tuong ung nhu html -->
  			</div>
  			<div class="col-sm-4">
  			
  			<!-- >>>>>> Copy doan code nay cho tuong ung nhu html -->
		    <label>Goods Name:</label>
		    <input type="text" th:field="*{name}"   
	      		class="form-control" /> 	
	      	<!-- <<<<< Copy doan code nay cho tuong ung nhu html -->
	      	</div>
	      	<div class="col-sm-4">
	      	
	      	<!-- >>>>>> Copy doan code nay cho tuong ung nhu html -->
	      	<label>Category Name:</label>
		    <select class="form-control" th:field="*{categoryId}" multiple="multiple" 
				id="dcl2" name="dclSearchCategory">
			  <option th:each="cate : ${dropCategory}" 
			          th:value="${cate.id}" 
			          th:text="${cate.name}">Dropdown</option>
			</select>
			<!-- <<<<< Copy doan code nay cho tuong ung nhu html -->
			
			</div>
		</div>
		<div class="row panel-body">
			<div class=" col-sm-4">
			
			<!-- >>>>>> Copy doan code nay cho tuong ung nhu html -->
			<label>Tag ID:</label>
		    <input type="text" th:field="*{tagId}"   
	      		class="form-control" />
			<!-- <<<<< Copy doan code nay cho tuong ung nhu html -->
			</div>
			<div class="col-sm-4">
			
			<!-- >>>>>> Copy doan code nay cho tuong ung nhu html -->
			<label>Company:</label>
		    <select class="form-control" th:field="*{companyId}" multiple="multiple" 
				id="dcl3" name="dclSearchCompany">
			  <option th:each="com : ${dropCompany}" 
			          th:value="${com.id}" 
			          th:text="${com.name}">Company</option>
			</select>
			<!-- <<<<< Copy doan code nay cho tuong ung nhu html -->
			
			</div>
			
			<div class=" col-sm-4">
			
			<!-- >>>>>> Copy doan code nay cho tuong ung nhu html -->
			<label>Remark:</label>
		    <input type="text" th:field="*{remark}"   
	      		class="form-control" />
	        <!-- <<<<< Copy doan code nay cho tuong ung nhu html -->
	      	</div>
		</div>
	</div> 
   
      <div class="row">
          <div class="col-sm-3">
          		<button class="btn btn-primary btn-block" type="submit" 
          			name="btnSearch" value="Search">
          			Search
          		</button>

              <span class="text-danger text-center" th:text="${errorSearch}"></span>
          </div>
          
          <div class="col-sm-3">
              <button type="button" class="btn btn-primary btn-block" 
              		name="btnDelete" onclick="submitDel()">
              	Delete
              </button>
              <span class="text-danger text-center" th:text="${errorDelete}"></span>
          </div>
      </div>
	
   
   <br/><br/>
   <table style = "border: 1px solid black">
	   <thead>
	     <tr>
	       <th>#</th>
	       
	       <!-- >>>>>> Doan code nay dung de hien thi Icon nhu bien mOrderBy
	        	model.addAttribute("mOrderBy", sessionOrderBy);  -->
	       <th>
			<!-- 	       Check gia tri bien mOrderBy bang Switch -->
	       <a th:switch="${mOrderBy}" href="javascript:void(0)">
	       		Goods ID
	       		<!-- neu gia tri cua no la id ASC, hien thi icon tang dan va cung set value=id ASC -->
		       <button class="btnSort" th:case="'id ASC'" type="submit" name="btnSearch" value="id ASC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes"></span>
		       </button>
		       <!-- neu gia tri cua no la id DESC, hien thi icon giam dan dan va cung set value=id DESC -->
		       <button class="btnSort" th:case="'id DESC'" type="submit" name="btnSearch" value="id DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		       </button>
		       <!-- neu gia tri cua no la cac gia tri khac, hien thi icon 2 chieu -->
		       <button class="btnSort" th:case="*" type="submit" name="btnSearch" value="id DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort"></span>
		       </button>
	       </a></th>
	       
	       <!-- Lam tuong tu nhu tren -->
	       <th><a th:switch="${mOrderBy}" href="javascript:void(0)">
	       		Goods Name
		       <button class="btnSort" th:case="'name ASC'" type="submit" name="btnSearch" value="name ASC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes"></span>
		       </button>
		       <button class="btnSort" th:case="'name DESC'" type="submit" name="btnSearch" value="name DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		       </button>
		       <button class="btnSort" th:case="*" type="submit" name="btnSearch" value="name DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort"></span>
		       </button>
	       </a></th>
	       <th><a th:switch="${mOrderBy}" href="javascript:void(0)">
	       		Category Name
		       <button class="btnSort" th:case="'categoryname ASC'" type="submit" name="btnSearch" value="categoryname ASC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes"></span>
		       </button>
		       <button class="btnSort" th:case="'categoryname DESC'" type="submit" name="btnSearch" value="categoryname DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		       </button>
		       <button class="btnSort" th:case="*" type="submit" name="btnSearch" value="categoryname DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort"></span>
		       </button>
	       </a></th>
	       <th><a th:switch="${mOrderBy}" href="javascript:void(0)">
	       		Company Name
		       <button class="btnSort" th:case="'companyname ASC'" type="submit" name="btnSearch" value="companyname ASC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes"></span>
		       </button>
		       <button class="btnSort" th:case="'companyname DESC'" type="submit" name="btnSearch" value="companyname DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		       </button>
		       <button class="btnSort" th:case="*" type="submit" name="btnSearch" value="companyname DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort"></span>
		       </button>
	       </a></th>
	       <th><a th:switch="${mOrderBy}" href="javascript:void(0)">
	       		Remark
		       <button class="btnSort" th:case="'remark ASC'" type="submit" name="btnSearch" value="remark ASC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes"></span>
		       </button>
		       <button class="btnSort" th:case="'remark DESC'" type="submit" name="btnSearch" value="remark DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		       </button>
		       <button class="btnSort" th:case="*" type="submit" name="btnSearch" value="remark DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort"></span>
		       </button>
	       </a></th>
	       <th><a th:switch="${mOrderBy}" href="javascript:void(0)">
	       		Tag ID
		       <button class="btnSort" th:case="'idtag ASC'" type="submit" name="btnSearch" value="idtag ASC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes"></span>
		       </button>
		       <button class="btnSort" th:case="'idtag DESC'" type="submit" name="btnSearch" value="idtag DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		       </button>
		       <button class="btnSort" th:case="*" type="submit" name="btnSearch" value="idtag DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort"></span>
		       </button>
	       </a></th>
	       <th><a th:switch="${mOrderBy}" href="javascript:void(0)">
	       		Floor
		       <button class="btnSort" th:case="'floorname ASC'" type="submit" name="btnSearch" value="floorname ASC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes"></span>
		       </button>
		       <button class="btnSort" th:case="'floorname DESC'" type="submit" name="btnSearch" value="floorname DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
		       </button>
		       <button class="btnSort" th:case="*" type="submit" name="btnSearch" value="floorname DESC" style="color: inherit;">
		       		<span class="glyphicon glyphicon-sort"></span>
		       </button>
	       </a></th>
	       <th>Map</th>
	       <th><input type="checkbox" name="allcheck" id="allcheck" 
	       	onclick="allChecked(this.form)"/> Toggle All</th>
	     </tr>
	   </thead>
	   <tbody>
		<!--  CHo nay de hien thi tung gia tri, goodslist la bien model ta add tu controller model.addAttribute("goodslist", goods); -->
	     <tr th:each="row,iterStat : ${goodslist}">
	       <td th:text="${iterStat.count}">#</td>
	       <td>
       			<span th:text="${{row.id}}" >#</span>
	       </td>
	       <td th:text="${{row.name}}">#</td>
	       <td th:text="${{row.categoryname}}">#</td>
	       <td th:text="${{row.companyname}}">#</td>
	       <td th:text="${{row.remark}}">#</td>
	       <td th:text="${{row.idtag}}">#</td>
	       <td th:text="${{row.floorname}}">#</td>
	       <td>#</td>
	       <td><input type="checkbox" th:field="*{deleteList}" th:value="${{row.id}}"
	       		onclick="DisChecked(this.form)"/></td>
	     </tr>
	   </tbody>
	 </table>
	 
<!-- 	 Day la Message dialog de hien thi confirm message, 
	se lam nhu category tren cty message-dialog, o day chi la demo -->
	<div class="modal fade" id="confirmDelDialog" th:if="${confirmDelMsg != null}">
      <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Message</h4>
	      </div>
	      <div class="modal-body">
	        <p th:text="${confirmDelMsg}"></p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal" 
	        	onclick="submitDelContinue()">Yes</button>
	        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</form>
</div>

</body>
</html>