<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
   <title>Spring Security Example </title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
   <div class="row col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top:20px">
       <form th:action="@{/login}" th:object="${logindata}" method="post">
       	<h5 class="text-danger text-center">
</h5>
              
              <div class="form-group">
              <label class="control-label col-sm-4">User ID</label>
                  <input type="text" name="username" id="username" 
                  class="form-control input-lg col-sm-8" autofocus="true"/>
                  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
              </div>
              <br/>
              <div class="form-group">
              <label class="control-label col-sm-4">Password</label>
                  <input type="password" name="password" id="password" 
                  class="form-control input-lg col-sm-8" />
                  <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</span>
              </div>
              <br/>
              <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                  </div>
              </div>
              <br/>
              <input type="checkbox" name="rememberme" id="rememberme" />Remember Me
              <br/>
              <span th:if="${#fields.hasErrors('NotFoundInDB')}" th:errors="*{NotFoundInDB}">DB Error</span>
       </form>
   </div>

</div>

</body>
</html>